/node_modules/
.env
/dataset/
/database/trials/
/misc/
dataset_new.zip
dataset.zip
reference.docx
usercreds.txt
/code/practice/
/code/graph.py
/code/progress.txt
/models/model-ver-1/
/templates/old/
/imgs-no-watermark/misc/
/papers/
/report/
possible-gitignore.txt
/src/old/
/static/css/old/
/static/js/old/