.head-z
{
    color: #023047;
    width: 97%;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
#title-z{
    font-size: 38px;
    font-weight: 800;
    cursor: pointer;
    width: fit-content;
    text-shadow: 9px 8px 3px rgba(0, 0, 0, 0.1);
    /* margin: auto; */
}
.profile-z{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 6px;
}
.head-z a{
    color: unset;
}
.head-z a:hover{
    color: #011d2f;
}
.head-z a:hover .profile-z span{
    border-bottom: 2px solid;
}